* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--muted) 40%, transparent);
  border-radius: var(--radius-lg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}
